.app {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

/* 右边主内容区 */
main {
  padding: 12px;
}

.main {
  /* background: #fff; */
}

/* searchBar */
.searchBar {}

.tool-bar {
  background: #fff;
  height: 40px;
  line-height: 40px;
  margin-bottom: 8px;
  padding: 0 12px;
}
.tool-bar .tool-btn{
  float: right;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ant-layout-header {
  background: #304156
}