.dark-bg{
    $bg-color: #413c5f;
    $font-color: #fff;
    background:$bg-color;
    color: rgb(119, 113, 113);
    #loginForm{
        width: 30%;
        margin: 0 auto;
        margin-top: 15%;
        label{
            color: $font-color;
        }
    }
}